cfg.py
sync
__pycache__
cookies.json
*.pkl
*.log
*.json
test.py
test2.py
test3.py
.google-cookie
1.txt
db/*
logs/*
*.mp3
*.ogg
*.fb2
*.doc
_old/*
*.db
*.db-journal
*.pickle
*.txt
chroma_db_llamaparse1
build/*
dist/*
*.exe
