assemblyai
# attrs==23.1.0
bingart
cairosvg
chardet
cachetools
deepl
duckduckgo_search[lxml]
edge_tts
httpx[socks]
fake_useragent
fuzzywuzzy
google
google-generativeai
groq

# свежая версия выжирает цпу на сервере, а с этой не работают новые модные модельки
gradio_client==0.14.0

gTTS
langdetect
langcodes[data]
lxml[html_clean]
natsort
opencv-python
openpyxl
odfpy
pandas
Pillow
prettytable
pyarrow
pyenchant
pydub
pylatexenc
PyMuPDF
PyPDF2
pysocks

# 4.19 вызывает ошибку copy_message() got an unexpected keyword argument "show_caption_above_media" при копировании сообщений
pytelegrambotapi==4.16.1

pytesseract
python-Levenshtein
SpeechRecognition
sqlitedict
#trafilatura==1.6.1
trafilatura

# требует установки vc++ tools
# TTS

youtube_transcript_api
unidecode
