assemblyai
# attrs==23.1.0
beautifulsoup4
# bingart
cairosvg
chardet
cachetools
cohere
cryptocompare

deepgram_captions
deepgram-sdk

duckduckgo_search[lxml]
edge_tts
fastapi

Flask

geopy

json_repair

httpx[socks]
fake_useragent
fuzzywuzzy

google

google-generativeai
# это другая версия
google-genai

gradio_client

groq

gTTS
langdetect
langcodes[data]
lxml[html_clean]
markdownify
matplotlib
natsort

openai

opencv-python
openpyxl
odfpy
pandas
pendulum
Pillow
pillow-heif
prettytable
psd-tools
pyarrow

pydub
pylatexenc
PyMuPDF
PyPDF2
pysocks

pysrt

pytelegrambotapi

python-Levenshtein
python-pptx

re_edge_gpt

requests[socks]

SpeechRecognition
sqlitedict

trafilatura

# требует установки vc++ tools
# TTS

youtube_transcript_api

unidecode
xlrd


webvtt-py

zhipuai

zstandard
