# attrs==23.1.0
bs4
chardet
# claude-api
curl_cffi
duckduckgo_search
edge_tts
fake_useragent
flask
fuzzywuzzy
gigachain
gigachat
gradio_client
httpx[socks]
google
gTTS
langdetect
langcodes[data]
natsort
openai
openai-whisper
websocket-client
pandas
Pillow
prettytable
Proxy-List-Scrapper
pyenchant
pylatexenc
PyMuPDF
PyPDF2
pysocks
pytelegrambotapi
pytesseract
python-gemini-api
python-Levenshtein
pytube
re_edge_gpt
SpeechRecognition
sqlitedict
tiktoken
#trafilatura==1.6.1
trafilatura
yandex_speech
youtube_search
youtube_transcript_api
xlrd
