[Unit]
Description=Telegram Bot Service
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/vosk/vosk-server/websocket
ExecStart=/home/ubuntu/vosk/vosk-server/websocket/asr_server.py /home/ubuntu/vosk/vosk-model-ru-0.22
Restart=always

[Install]
WantedBy=multi-user.target
